/* big Tablets: 1024 to 1200px*/
@media only screen and (max-width: 1200px) {
  .hero-text-box{
    position: absolute;
    width: 100%;
    padding: 0 2%;
  }
  .row{ padding: 2%; }
}
/* Small tablets to big talets: 767 to 1023px*/
@media only screen and (max-width: 1023px) {
  .hero-text-box{
    position: absolute;
    display: block;
    width: 60%;
    top: 80%;
    margin-left: 30%;
    transform: translate(-20%, -20%);
  }
  h1{font-size: 110%;}
 body{ font-size: 16px;}
 section{ padding: 60px 0;}
 .long-copy{
   width: 80%;
   margin-left: 10%;
 }
  .banquet-price{font-size: 220%;}
  .contact-form{ width: 80%;}
  .app-screen{ width: 50%; }
  .banquet-type{
    width: 100px;
    margin-right: 0px;
  }
}

/* Medium to large phone screens: 481 to 767px*/
@media only screen and (max-width: 767px) {
  .hero-text-box{
    padding: 0 4%;
    padding: 0% 4%;
    width: 100%;
    top: 40%;
    transform: translate(-80%, 0);
  }
h1{ font-size: 110%;}
 body{ font-size: 15px;}
 section{ padding: 30px 0;}
 .long-copy{
   width: 100%;
   margin-left: 2%;
 }
 .mobile-nav-icon{ display: inline-block;}
 .main-nav{
   margin-top: 30px;
   float: left;
   margin-left: 25px;
   display: none;
 }
 .main-nav li{display: block;}
 .main-nav li a:link,
 .main-nav li a:visited{
  display: block;
  border: 0;
  padding: 10px 0;
  font-size: 100%;
 }
 .sticky .main-nav { margin-top: 10px; }

 .sticky .main-nav li a:link,
 .sticky .main-nav li a:visited { padding: 10px 0; }
 .sticky .mobile-nav-icon { margin-top: 10px; }
 .sticky .mobile-nav-icon i { color: #555;}
  .row{ padding: 0 4%;}
  .social-links{ margin: 30px 40% 30px 5%; }
  .col{ width: 100%;}
  .banquet-price{font-size: 180%;}
  .contact-form{ width: 70%;}
  .banquet-type{
    width: 100px;
    margin-right: 0px;
  }
  .steps-box{
    margin-right: 15%;
    margin-left: 15%;
    display: block;
  }
  .steps-box img {
    margin-right: 15%;
    margin-left: 30%;
    display: block;
  }
  cite img {
    height: 70%;
    margin: -10px 10% 10 30%;

}
.banquet-type {
  text-align: center;
}

.section-features{
  text-align: center;
}

}

/* Small phone screens: 0 to 480px*/
@media only screen and (max-width: 480px) {
  .hero-text-box{
    padding: 0% 4%;
    width: 100%;
    top: 40%;
    transform: translate(-80%, 0);
  }
  .hero-text-box h1 { font-size: 20px;}

  .mobile-nav-icon{ display: inline-block;}
  .main-nav{display: none;}
  .main-nav{
    margin-top: 30px;
    float: left;
    margin-left: 25px;
  }
  .main-nav li{display: block;}
  .main-nav li a:link,
  .main-nav li a:visited{
   display: block;
   border: 0;
   padding: 10px 0;
   font-size: 100%;
  }
  .sticky .main-nav { margin-top: 10px; }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited { padding: 10px 0; }
  .sticky .mobile-nav-icon { margin-top: 10px; }
  .sticky .mobile-nav-icon i { color: #555;}

  section { padding: 25px 0; }
  .contact-form {width: 100%; }
  .section-features{
    text-align: center;
  }
}
